.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header, .footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-button {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1em;
}

.main-content {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 1em;
}

.footer {
  text-align: center;
}


@media screen and (min-width: 1200px) {
  .product-list {
    max-height: 60vh; 
    overflow-y: auto; /* เพิ่ม scroll เมื่อเกินขอบ */
  }
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
  max-width: 100%;
  margin: 0 auto;
  overflow-y: auto; 

}

.product-item {
  border: 1px solid #ddd;
  padding: 1em;
  text-align: center;
  cursor: pointer; /*ทำให้ดูคลิ๊กได้*/
  text-decoration: none; /*ลบสมบัติของ link*/
  color: inherit; /*เอาสีของตัว parent มาใช้*/
}
.product-item:hover {
  background-color: #f0f0f0;
}
.product-item img {
  max-width: 100%;
  height: auto;
}


