.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  user-select: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.header, .footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  text-align: center;
}

.main-content {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 1em;
}


.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-checkbox {
  position: absolute;
  bottom: 5px; /* Adjust this value to move the checkbox lower */
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
  appearance: none;
  border: 2px solid #333;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

.product-checkbox:checked {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.product-checkbox:checked::after {
  content: '';
  display: block;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  margin-left: 6px;
  margin-top: 2px;
}


.product-item {
  position: relative;
  text-decoration: none;
  color: inherit;
  width: 200px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.product-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #f0f0f0;
}

.product-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}

.product-item h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.2em;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

.product-item p {
  margin-top: 5px;
  font-size: 1em;
  color: #666;
  font-family: 'Roboto', sans-serif;
}

.product-detail {
  text-align: center;
  flex: 1;
  padding: 1em;
  font-family: 'Roboto', sans-serif;
}

.product-detail h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.product-detail h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-family: 'Montserrat', sans-serif;
  color: #666;
}


.product-detail p {
  font-size: 1.2em;
  margin: 0.5em 0;
  color: #555;
}

.product-detail img {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 20px 0;
  border-radius: 10px;
}

.product-link {
  text-decoration: none;
}

.controls {
  margin-bottom: 20px;
}

.search-bar {
  width: 250px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.sort-dropdown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.loading {
  font-size: 18px;
  color: #555;
}

.form-control {
  width: 100%;
  max-width: 40%;
}

.nav-icon {
  justify-content: right;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 10vh;
}

.login-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.nav-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.nav-button:hover {
  background-color: #555;
}

.description-box {
  border: 1px solid #ddd;
  padding: 1em;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: left;
  max-width: 400px;
  margin: 0 auto;
  overflow-wrap: break-word;
}

.delete-button {
  background-color: #ff4d4d; /* Red color for delete */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: #ff1a1a; /* Darker red on hover */
}

.delete-button:active {
  background-color: #e60000; /* Even darker red on click */
}

.delete-button:focus {
  outline: none;
  box-shadow: 0 0 3px 2px rgba(255, 0, 0, 0.5); /* Red shadow on focus */
}

